@media (max-width: 1279px) {
  .head-top .search-bar {
    display: none;
  }
  .head-top .header-actions {
    display: none;
  }
  .mb-menu-icon {
    display: block;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
  }

  header .head-top {
    width: 100%;
    padding: 5px 0;
    background: #000;
  }
  header .head-top .logo {
    width: 90px;
    height: 40px;
    margin-right: 0;
  }
  .head-top .logo img {
    width: 100%;
    height: 100%;
  }
  .mb-right-desk {
    display: block;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .mb-right-desk button {
    width: 40px;
    height: 42px;
    border: none;
    font-size: 2rem;
    color: #fff;
    background: transparent;
    cursor: pointer;
    /* flex-basis: 33%; */
  }
  .mb-right-desk button.red {
    color: #ef4a23;
  }
  .mb-right-desk .cart {
    font-size: 2.1rem;
    color: #ffffff;
  }

  /* *============ nav section */

  nav .wrapper {
    padding: 0;
  }
  nav {
    position: fixed;
    height: 100vh;
    top: 52px;
    left: -100%;
    bottom: 0;
    background: #fff;
    overflow: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 290px;
    transition: 300ms ease-in-out;
    padding-bottom: 150px;
  }
  nav.show {
    left: 0;
  }
  nav ul.main-menu {
    display: block;
    width: 290px;
  }

  nav ul.main-menu a {
    width: 100%;
    padding: 0 20px;
    font-size: 1.6rem;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
  }
  nav ul.main-menu a:hover {
    color: inherit;
  }

  nav ul.main-menu a.red {
    color: #ef4a23;
  }
  nav ul.main-menu li {
    border-bottom: 1px solid #d8d3d3;
  }
  nav ul .side-drop-toggle {
    color: #999999;
    display: block;
  }

  /* * Dropdown menu style */

  nav ul.main-menu .dropdown-menu {
    position: relative;
    box-shadow: none;
  }

  nav ul.main-menu .dropdown-menu ul {
    width: 290px;
    border: none;
    background: #f8f8f8;
  }

  nav ul.main-menu .dropdown-menu ul a {
    padding: 0 20px 0 40px;
    line-height: 45px;
    font-weight: 400;
  }
  nav ul.main-menu .dropdown-menu ul a:hover {
    background: inherit;
    color: inherit;
  }
  nav ul.main-menu .dropdown-menu ul:last-child li:last-child {
    border: none;
  }
  nav ul.main-menu li:hover .dropdown-menu {
    display: none;
  }
  /* nav ul.main-menu li .dropdown-menu{
        display: none;
    } */
  nav ul.main-menu li.open .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  nav ul.main-menu .dropdown-menu ul {
    padding: 0;
  }

  /* Search Box  */
  .mobile-search-box {
    display: block;
    position: relative;
    height: 46px;
    display: none;
  }
  .mb-search-box-show {
    display: block;
  }
  .mobile-search-box input {
    width: 100%;
    padding: 0 40px 0 15px;
    height: 100%;
    border: none;
    background: #fff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    font-size: 1.6rem;
    outline: none;
  }
  .mobile-search-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    height: 100%;
    border: none;
    background: none;
    font-size: 2rem;
    color: #999999;
    padding-right: 10px;
  }

  /* * hero section */
  .hero-section {
    padding: 30px 0 0 0;
  }
  .hero-section .right .compare-product {
    padding: 15px;
    margin-bottom: 15px;
  }
  .hero-section .right .compare-product h2 {
    margin: -3px 0 8px 0;
  }
  .hero-section .right .compare-product p {
    display: none;
  }
  .hero-section .search-box {
    margin-bottom: 10px;
  }

  /* * ======== Cards sections ==========*/
  .card-section .cards .card .content p {
    display: none;
  }


  /* * prodcut section */


  .p-items-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .hero-section {
    flex-direction: column;
    gap: 10px;
  }
  .hero-section .right .right-image {
    width: 100%;
    max-width: none;
  }
  /* * ========== Cards section  style =======*/
  .card-section .cards {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .card-section .cards .card {
    padding: 10px;
    gap: 10px;
  }
  .marquee-content {
    width: 95%;
  }


  /* * Footer section ===============*/
  .footer-section .main-footer{
    grid-template-columns: 1fr;text-align: center;
  }
  .footer-section .main-footer .contact-us .helpline-btn{
    width: 300px;
    margin: 20px auto;
  }
  .footer-section .main-footer .about-us ul li{
    width: auto;
    margin: 0 10px;
  }

  .social-footer{
    flex-direction: column;
    gap: 25px;
  }
  .social-footer .app-links{
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .physical-section {
    padding: 0 15px;
  }
  .mb-menu-icon {
    flex-basis: 20%;
  }
  /* * cards section */
  .card-section .cards .card .card-icon {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .card-section .cards .card .content h2 {
    font-size: 1.3rem;
  }

  .featured-category .featured-cards {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 10px;
  }

  .featured-category .featured-cards .featrued-card img {
    width: 40px;
    height: 40px;
  }

  .physical-section .store-finder {
    flex-direction: column;
    gap: 15px;
  }
  .physical-section .store-finder .left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* *========Product section =========*/

  .p-items-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .p-items-wrap .p-item .p-image{
    margin-top: 10px;
  }
  .footer-section .wrapper{
    padding: 0;
  }
  .sub-footer{
    flex-direction: column;
    background: #000;
    gap: 20px;
  }
}
